<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/pom.xml</param-value>
    </context-param>
    <servlet>
        <display-name>addAccount</display-name>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>processingEmulator.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <display-name>removeAccount</display-name>
        <servlet-name>removeAccount</servlet-name>
        <servlet-class>processingEmulator.RemoveAccount</servlet-class>
    </servlet>
    <servlet>
        <display-name>addMoney</display-name>
        <servlet-name>addMoney</servlet-name>
        <servlet-class>processingEmulator.AddMoney</servlet-class>
    </servlet>
    <servlet>
        <display-name>removeMoney</display-name>
        <servlet-name>removeMoney</servlet-name>
        <servlet-class>processingEmulator.RemoveMoney</servlet-class>
    </servlet>
    <servlet>
        <display-name>transferMoney</display-name>
        <servlet-name>transferMoney</servlet-name>
        <servlet-class>processingEmulator.TransferMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAccount</servlet-name>
        <url-pattern>/removeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMoney</servlet-name>
        <url-pattern>/addMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeMoney</servlet-name>
        <url-pattern>/removeMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferMoney</servlet-name>
        <url-pattern>/transferMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
</web-app>
